<div>
    <h1>Usuario</h1>
        <ul>
            <li><strong>Name:</strong>{{firstname}}{{lastname}}</li>
            <li><strong>Age:</strong>{{age}}</li>
            <li><strong>Email:</strong>{{email}}</li>
            <li><strong>Phone Number:</strong>{{phone}}</li>
            
        </ul>
    
</div>